<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/project.css">
</head>
<body>
    <h1>Projects</h1>
    <ul>
        <% projects.forEach((project) => { %>
            <li>
                <h2><%= project.title %></h2>
                <p><%= project.description %></p>
                <a href="<%= project.link %>">View Project</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>